*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
main{
    width: 100%;
    height: 100vh;
    background-color: #1B9CFC;
}
header{
    display: flex;
    justify-content: center;
    padding-top: 7rem;
}

h1{
    margin-bottom: 1.5rem;
}
.inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 768px;
    margin: 0 auto;
}
.input{
    flex: 1 1 50%;
    margin: 15px;
    appearance: none;
    background: none;
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    border: none;
    outline: none;
    transition: 0.2s;
}

.input:focus{
    box-shadow: 0px 0px 9px 9px rgba(8, 50, 156, 0.809);
}